a {
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: #BD955A;
    border-color: #BD955A;
}

.btn-primary:hover {
    color: #fff;
    background-color: #A3A19E;
    border-color: #A3A19E;
}